@inherits LayoutComponentBase

<div class="secondary-layout">
    <header class="bg-primary text-white p-3">
        <h1>Secondary Layout</h1>
    </header>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
